#comment-list
  .media
    .media-left
      / リンクをつける
      = link_to 'i-con'
    .media-body
      %h4.media-heading#top-aligned-media
        = comment.user.name
      %p
        = comment.content
